*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main_collection{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
}
.main__item{
    width: 300px;
    height: 300px;
    background: url("/foto/1foto.jpg") no-repeat center/cover;
    border-radius: 20px;
}
.main__itme_foto{
    background: url("/foto/3.foto.jpg") no-repeat center/cover;
}
.main_item{
    background: url("/foto/2.foto.jpg") no-repeat center/cover;
}
.main__item p{
     color: #fff;
     font-size: 16px;
     padding-top: 80%;
     padding-left: 10px;
}
.models{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 100px 0;
}
.models__item{
    width: 380px;
    height: 550px;
    background: url("/foto/foto.mashina.avif") no-repeat center/cover;
    border-radius: 20px;
}
.models_item{
    background: url("/foto/fotooo.img.avif") no-repeat center/cover;
}
.text_models{
    font-size: 20px;
    padding-top: 370px;
    padding-left: 20px;
    color: #fff;

}
.text_models button{
    width: 330px;
    height: 40px;
    margin-top: 5px;
}
.text__footo{
    display: flex;
    justify-content: center;
}
.text_foto{
    width: 600px;
    height: 400px;
    background: url("/foto/3.foto.jpg") no-repeat center/cover;
    border-radius: 0 10px 10px 0;
}
.text{
    border-radius: 10px 0 0 10px;
    background: #000;
}
.text_h1_p{
    color: #fff;
    padding-top: 120px;
    padding-left: 50px;
    line-height: 1.5;
    

}
.text_h1_p button{
    padding: 20px;
    font-size: 17px;
}
.kotta_moshina{
    display: flex;

    padding-left: 250px;
    padding-top: 150px;
   
}
.text_moshina{
    color: #000;
  
    
    height: 400px;
}
.text_moshina input{
     width: 400px;
     height: 70px;
     font-size: 18px;
     border: 1px solid black;
     border-radius: 5px;
    
}
.rasm_moshina{
    width: 890px;
    height: 400px;
    background: url("/foto/kotta\ moshina.avif") no-repeat center/cover;
}
.banner_soat{
    display: flex;
    overflow:auto;
  
  
}
.baner__soatlar {
    border-radius:10px 10px 10px 10px ; 
    margin: 5px;
    margin-left: 10px;
    line-height: 2;
    transition: .5s;
}
.baner__soatlar img{
    border-radius: 5px 5px 0 0;
}
.text_p{
   padding-left: 10px;
}
.text_p button{
    border: none;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.baner__soatlar:hover{
    background: whitesmoke;
    box-shadow: 0 0 10px black;
}
.banner_soat::-webkit-scrollbar{
    height: 1px;
}
.banner_soat::-webkit-scrollbar-thumb{
    background: #ddd;
    border-radius: 20px;
}
.footer_collec{
    width: 100%;
    height: 300vh;
    background: #000;
    color: white;
    padding-top: 100px;
    padding-left: 50px;
    font-size: 19px;
    
}
.footer_collection{
    display: flex;
    gap: 60px;
}
.footer__item{
    color: #fff;
    line-height: 1.5;

}
.footer__item button{
    width: 250px;
    height: 50px;
}
.foter__iteemm button{
    width: 40px;
    height: 40px;
}
.footr_banner{
    display: flex;
    gap: 165px;
    line-height: 1.5;
}
.hr{
    color: #ddd;
   margin-left: -50px;
}


    
